
body {
     /* background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../images/background.png'); */
     background-color: #bbb;
}

.base {
    width 100%;
}

/* The contents of this element are centered */
.flexbox {
    width:100%;
    display: flex;
    justify-content: center;
}

.div33 {
    display: inline-block;
    width: 33.33%;
    word-wrap: break-word;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #000; */
}
.div66 {
    display: inline-block;
    width: 66%;
    word-wrap: break-word;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #000; */
}
.div33_float_left {
    display: inline-block;
    width: 33.33%;
    float: left;
    word-wrap: break-word;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #000; */
}
.div66_float_left {
    display: inline-block;
    width: 66%;
    float: left;
    word-wrap: break-word;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.banner {
    width 30%;
    background-color:white;
    color:green;
    font-size: large;
    text-align: center;
}

.span_green {
    color: green;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.block {
    display: inline-block;
    background-color: cyan;
    width: 100%;
}
.span_result_fixed {
    position: fixed;
    left:0;
    top:0;
    border: 1px solid black;
    margin: 3px;
    height: 2em;
    padding: 10px;
    border-radius:24px;
    /* box-shadow: -24px 5px 5px 0px rgba(42,42,42,.75); */
    text-align: center;
    /* background-image: url('/images/header.jpeg'); */ color: blue;
    word-wrap: break-word; }

.div_block { display: block; }

.div_result_fixed {
    display: block;
    position: fixed;
    left:0;
    top:0;
    border: 1px solid black;
    margin: 3px;
    /* height: 2em; */
    padding: 10px;
    border-radius:24px;
    /* box-shadow: -24px 5px 5px 0px rgba(42,42,42,.75); */
    text-align: center;
    /* background-image: url('/images/header.jpeg'); */
    color: blue;
    word-wrap: break-word;
}
.div33_result {
    display: inline-block;
    width: 33.33%;
    word-wrap: break-word;
    padding: 30px;
    float: left;
    border: 1px solid black;
    border-radius:24px;
    box-shadow: -24px 5px 5px 0px rgba(42,42,42,.75);
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #000; */
}

p {
    /* display:inline-block; */
    /* width: 30%; */
    /* width: 100px; */
    background-color:white;
    color:grey;
    /* border:1px soild grey; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    /* margin: 0 auto; */
    padding:10px;
}
.oval-shape {
 //   width: 200px;
 //   height: 100px;
 background: blue;
 color:white;
 -moz-border-radius: 100px / 50px;
 -webkit-border-radius: 100px / 50px;
 border-radius: 100px / 50px;
 padding-left:75px;
}
